<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="demostyle.css">
    <title>course7~8</title>
</head>
<body>
    <header>
        <div>
            <!--logo-->
            <h2 class="logo">Logo</h2>

            <!--navigation-->
            <ul class="nav">
                <li><a href="#">Github</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </header>

    <main>
        <!--轮显图-->
        <section class="roll_img">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
        </section>

        <!--主导航-->
        <section class="main_nav">
            <ul>
                <li>HOME</li>
                <li>PROFILE</li>
                <li>ABOUT</li>
            </ul>
        </section>

        <!--主内容-->
        <section class="main_content">
            <div class="content1"> This is Content 1</div>
            <div class="content2">MaybCcontent2</div>
            <div class="content3">Content3</div>
            <div class="content4">Content4</div>
            <div class="content5">Content5</div>
            <div class="content6">Content6</div>
            <div class="content7">Content7</div>
            <div class="content8">Content8</div>
            <div class="content9">Content9</div>
            <div class="content10">Content10</div>
        </section>
    </main>

    <footer>
        <p>@2018 ife.baidu.com</p>
    </footer>
</body>
</html>